/* Basic reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #111;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Headings */
h1 {
  font-size: 36px;
  color: green;
}

/* Lists (card style) */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.navbar h2 {
  color: green;
  margin: 0;
}

/* hamburger */
.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* dropdown menu */
.links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

.links a {
  padding: 12px 0;
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: green;
}